html,
body {
  background-color: #fbfbfb;
}

.link:focus {
  outline: 0;
}

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.title-gradient {
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(left, #616161, #ff5722, #ff5722);
  background-image: linear-gradient(to right, #616161, #ff5722, #ff5722);
  -webkit-text-fill-color: transparent;
}

.post__body h1,
.post__body h2,
.post__body h3 {
  font-weight: 300;
}

.post__body p code {
  padding: 0 5px;
  background-color: #9eebcf;
  color: #111;
}

.post__body blockquote {
  margin: 0;
  padding: 0 0 0 1rem;
  border-left: 3px solid orangered;
  font-style: italic;
  color: #777777;
}
