* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: 12px;
    margin: 25px;
    font-weight: 300;
    color: #474747;
}

:focus {
    outline: 0;
}

#search-box-input {
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    color: black;
    font-size: 2.5em;
    font-family: 'Roboto';
    font-weight: 300;
    padding: 0 5px;
    height: 50px;
}

#search-box.valid #search-box-input {
    border: 1px solid springgreen;
    background-color: springgreen;
}

ul {
    font-size: 1.5em;
    list-style: none;
}

img.picture {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border: 0;
}

ul li, ul li a {
    color: black;
}

ul li span {
    color: grey;
    font-weight: 400;
}
